<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.mountain.model.dao.ChatDao">

	<select id="selectAll" resultType="Chat">
		SELECT *
		FROM Chat
	</select>

	<select id="selectChatByChatInfoSerial" parameterType="int" resultType="Chat">
		SELECT *
		FROM Chat
		WHERE chatinfo_serial = #{chatInfoSerial};
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Chat">
		SELECT *
		FROM Chat
		WHERE serial = #{chatSerial}
	</select>
	
	<insert id="createChat" parameterType="Chat">
		INSERT INTO Chat (chatInfo_serial, user_serial, content)
		VALUE (#{chatInfoSerial}, #{userSerial}, #{content})
	</insert>
	
	<update id="modifyChat" parameterType="Chat">
		UPDATE Chat
		SET chatInfo_serial = #{chatInfoSerial}, user_serial = #{userSerial}, content = #{content}
		WHERE serial = #{serial};
	</update>
	
	<delete id="deleteChat" parameterType="int">
		DELETE FROM Chat
		WHERE serial = #{chatSerial};
	</delete>
	
</mapper>