<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.mountain.model.dao.CommentDao">

	<select id="selectAll" resultType="Comment">
		SELECT *
		FROM Comment;
	</select>

	<select id="selectCommentByMountain" parameterType="int"
		resultType="Comment">
		SELECT *
		FROM Comment
		WHERE mountain_serial =
		#{mountainSerial}
	</select>

	<select id="selectOne" parameterType="int" resultType="Comment">
		SELECT *
		FROM Comment
		WHERE serial = #{commentSerial}
	</select>

	<insert id="createComment">
		INSERT INTO Comment (title, mountain_serial,
		user_serial, content, calorie, turnaround)
		VALUE (#{title},
		#{mountainSerial}, #{userSerial}, #{content}, #{calorie},
		#{turnaround})
	</insert>

	<delete id="deleteComment" parameterType="int">
		DELETE FROM Comment
		WHERE serial = #{commentSerial};
	</delete>

	<update id="modifyComment" parameterType="Comment">
		UPDATE Comment SET
		title = #{title}, mountain_serial = #{mountainSerial}, user_serial =
		#{userSerial}, content = #{content}, calorie = #{calorie}, turnaround
		= #{turnaround}
	</update>

	<update id="modifyViewCnt" parameterType="int">
		UPDATE Comment
		SET
		view_count = view_count + 1
		WHERE serial = #{commentSerial};
	</update>

	<select id="selectCommentBySearch"
		parameterType="SearchCondition" resultType="Comment">
		SELECT *
		FROM Comment
		<!-- 동적쿼리(검색 조건) -->
		<if test="key != null">
			WHERE ${key} LIKE concat( '%', #{word}, '%' )
		</if>
		<!-- 동적쿼리(정렬 조건) -->
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

	<select id="selectStar" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM Comment
		WHERE mountain_serial = #{mountainSerial} AND star
		= #{starNumber};
	</select>

	<select id="turnAroundTime" parameterType="int" resultType="int">
		SELECT COUNT(turnaround)
		FROM Comment
		WHERE mountain_serial =
		#{mountainSerial}
	</select>

	<select id="averageCalorie" parameterType="int" resultType="int">
		SELECT AVG(calorie)
		FROM Comment
		WHERE mountain_serial =
		#{mountainSerial}
	</select>

	<select id="averageTurnAround" parameterType="int"
		resultType="int">
		SELECT AVG(turnaround)
		FROM Comment
		WHERE mountain_serial =
		#{mountainSerial}
	</select>

	<insert id="insertFile">

	</insert>


	<!-- 산 1개에 대한 1~5점이 몇 명인지 세야함 -->
	<!-- 여기에 등반 횟수, 칼로리, 소요시간 추가해야 함 -->

</mapper>