<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mountain.model.dao.FollowDao">

	<select id="followList" parameterType="String" resultType="User">
		SELECT * FROM User
		WHERE id = #{userId} AND
		`serial` = (SELECT to_serial
			FROM Follow
			WHERE to_serial = user.serial);
	</select>
	
	<select id="checkAlreadyFollowing" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM Follow
		WHERE from_serial = #{fromFollow} AND to_serial = #{toFollow}
	</select>

	<insert id="createFollow" parameterType="int">
		INSERT INTO Follow
		(from_serial, to_serial)
		VALUE (#{fromFollow}, #{toFollow});
	</insert>

	<delete id="deleteFollow" parameterType="int">
		DELETE FROM Follow
		WHERE
		from_serial = #{fromFollow} AND to_serial = #{toFollow};
	</delete>

	<select id="followingList" parameterType="int" resultType="User">
		SELECT * FROM User
		WHERE `serial` In (SELECT to_serial
			FROM Follow
			WHERE from_serial = #{fromFollow});
	</select>

	<select id="followerList" parameterType="int" resultType="User">
		SELECT * FROM User
		WHERE `serial` In (SELECT from_serial
			FROM Follow
			WHERE to_serial = #{toSerial});
	</select>

</mapper>