<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.mountain.model.dao.ReplyDao">

	<select id="selectByCommentSerial" parameterType="int"
		resultType="ReplyResponse">
		SELECT
		    u.serial AS userSerial,
		    u.id AS id,
		    u.name AS name,
		    u.gender AS gender,
		    u.point AS point,
		    r.serial AS commentSerial,
		    r.content AS content,
		    r.reg_date AS regDate,
		    r.update_date AS updateDate
		FROM
		    User u
		JOIN
		    Reply r ON u.serial = r.user_serial
		WHERE comment_serial = #{commentSerial}
	</select>

	<select id="selectOneReply" parameterType="int"
		resultType="ReplyResponse">
		SELECT
		    u.serial AS userSerial,
		    u.id AS id,
		    u.name AS name,
		    u.gender AS gender,
		    u.point AS point,
		    r.serial AS commentSerial,
		    r.content AS content,
		    r.reg_date AS regDate,
		    r.update_date AS updateDate
		FROM
		    User u
		JOIN
		    Reply r ON u.serial = r.user_serial
		WHERE serial = #{replySerial}
	</select>

	<insert id="createReply">
		INSERT INTO Reply (comment_serial, user_serial,
		content)
		VALUE (#{commentSerial},
		#{userSerial}, #{content})
	</insert>

	<update id="modifyReply" parameterType="Reply">
		UPDATE Reply SET
		comment_serial = #{commentSerial}, user_serial = #{userSerial},
		content = #{content}
		WHERE serial = #{serial}
	</update>

	<delete id="deleteReply" parameterType="int">
		DELETE FROM Reply
		WHERE
		serial = #{replySerial};
	</delete>

</mapper>