<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.mountain.model.dao.UserDao">

	<select id="userList" resultType="User">
		SELECT *
		FROM User;
	</select>

	<insert id="createUser" parameterType="User">
		INSERT INTO User (id,
		`password`, name, birth_date, gender, email)
		VALUES (#{id},
		#{password}, #{name}, #{birthDate}, #{gender}, #{email});
	</insert>

	<select id="selectUserById" parameterType="String"
		resultType="User">
		SELECT *
		FROM User
		WHERE id = #{userId};
	</select>

	<select id="selectUserByName" parameterType="String"
		resultType="User">
		SELECT *
		FROM User
		WHERE name = #{userName};
	</select>

	<update id="modifyUser" parameterType="User">
		UPDATE User
		SET id = #{id},
		password = #{password}, name = #{name}, age = #{age}, email = #{email}
		WHERE id = #{id};
	</update>

	<delete id="deleteUser" parameterType="int">
		DELETE FROM User
		WHERE
		serial = #{userSerial};
	</delete>

	<select id="isIdExist">
		SELECT COUNT(id)
		FROM User
		WHERE id = #{userId};
	</select>

	<select id="isEmailExist">
		SELECT COUNT(*)
		FROM User
		WHERE email = #{userEmail};
	</select>

	<select id="login" parameterType="Map" resultType="User">
		SELECT *
		FROM
		User
		WHERE id = #{id} AND password = #{password}
	</select>

</mapper>